*{
    margin:0;
    padding: 0;
}

:root{
    --primaey-color:#edf2fc;
    --secondary-color:#212121;
}

.dark-mode{
    --primaey-color:#212121;
    --secondary-color:#edf2fc;
}
.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background:var(--primaey-color);
    font-family: sans-serif;
    position: relative;
}

nav{
    width: 80%;
    margin-left:3%;
    padding: 1% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 7vw;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    font-size: 1vw;
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover{
    color: red;
}

.info{
    margin-left: 6%;
    margin-top: 13%;
}

.info h1{
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

span{
    color: red;
}

.info p{
    color: var(--secondary-color);
    line-height: 22px;
}

.info a {
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color:var(--primaey-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.info a:hover{
    background-color: red;
    font-weight: 520;
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom:0;
    right: 100px;
}

.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 1s;
}

.img-box:hover .back-img{
    bottom: 40px;
} 

.img-box:hover .main-img{
    left: 54%
}

.social-links{
margin-left: 6%;
margin-top: 25px;
}

.social-links a{
    font-size: 25px;
    color: var(--secondary-color);
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}

.social-links a:hover{
    color: rgb(227, 18, 18);
    font-size:26px ;
}

#icon{
    width: 1.6vw;
    height: 10%;
    margin-right: 2vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

#icon:hover{
    transform: scale(1.03);
}

#menu-icon{
    font-size:3vh;
    color: var(--secondary-color);
    cursor: pointer;
    display: none;

}

/* body{
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px;
}

.child {
    background-color: #ccc;
    padding: 20px;
    margin: 10px;
    width: 45%;
    text-align: center;
} */


@media (max-width:600px){
    *{
        margin: 0;
        padding: 0;
    }
    #menu-icon{
        display: block;
        flex-wrap: nowrap;
        padding: 0;
        margin-left: 60vw;
    }
    .logo{
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        height: 6vh;
        width: 6vh;
    }
    #icon{
        display: none;
    }
    nav ul li a{
        display: none;
    }

    .resp{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}