body{
    background-color: #212121; 
    color: #fff;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#clock{
    margin-top: 5px;
    font-weight: 600;
    font-size: 25px;
    height: 50px;
    width: 200px;
    padding: 8px 10px;
    text-align: center;
    background-color: orange;
    border-radius: 0.5rem;
    color: #000;
    transition: all 0.3s;
}
#clock:hover{
    transform: scale(1.01);
    box-shadow: 0 12px 80px rgb(234, 11, 14);
}